# PLIKI KONFIGURACYJNE I SEKRETY
.env
.env.local
.DS_Store
.vscode/
.idea/

# BACKEND (Python)
backend/__pycache__/
backend/*.pyc
backend/venv/
backend/.venv/
backend/.pytest_cache/

# FRONTEND (Node.js / React)
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.eslintcache

# BAZA DANYCH (Docker) 
postgres_data/